.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black-color, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
        width: 500px;
        background-color: $white-color;
    }

    &-header,
    &-footer {
        padding: 10px;
    }

    &-title {
        margin: 0;
    }

    &-body {
        padding: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}
