.author-container {
    .option {
        background-color: transparent;
        border: none;
        margin-left: 8px;
        cursor: pointer;

        i {
            font-size: 20px;
        }
    }

    .add-library {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        position: fixed;
        background-color: rgba($primary-color, 0.8);
        right: -10px;
        z-index: 999;
        border-radius: 8px;
        cursor: pointer;

        i {
            color: $white-color;
        }
    }
}
