.l-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .l-left {
    display: flex;
    width: 50%;
    height: 100%;
  }
  .l-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  
  .l-img > img {
    width: 100%;
    height: 100%;
  }
  .l-right-container {
    display: flex;
  }
  .bg-form {
    background-color: #fae0f5;
  }
  .bt-color {
    background-color: #D894E3;
  }
  .bt-color:hover {
    background-color: #D894E3;
  }