.btn {
    border: none;
    background: rgba(#222222, 0.3);

    &-sm {
        border: none;
        padding: 0.3rem 1rem;
        border-radius: 4px;
        font-weight: 300;
        font-size: 16px;
        background: rgba(#3b3b3b, 0.3);
        color: #fff;
    }

    &-md {
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 8px;
        font-weight: 300;
        font-size: 18px;
        background: rgba(#222222, 0.3);
        color: #fff;
    }

    &-lg {
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 8px;
        font-weight: 530;
        font-size: 21px;
        background: rgba(#222222, 0.1);
        color: #fff;
    }
}
