@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100;1,500;1,700&display=swap");

$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$roboto: "Roboto Mono", monospace;

// font weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
